# Ignore node_modules cho tất cả service
**/node_modules/

# Thêm mấy cái thường dùng luôn
.env
.env.*
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.DS_Store
