services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: restaurantdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d restaurantdb"]
      interval: 3s
      timeout: 3s
      retries: 10
    networks:
      - app-network

  api-gateway:
    build:
      context: ./api-gateway
    container_name: api-gateway
    restart: always
    ports:
      - "5055:4100"         
    environment:
      PORT: 4100
      AUTH_SERVICE_URL: http://auth-service:3003
      ORDER_SERVICE_URL: http://order-service:3001
      RESERVATION_SERVICE_URL: http://reservation-service:3002
    depends_on:
      - auth-service
      - order-service
      - reservation-service
    networks:
      - app-network

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    container_name: order-service
    restart: always
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - DATABASE_URL=postgres://postgres:postgres@postgres_db:5432/restaurantdb
      - JWT_SECRET=${JWT_SECRET}
      - RESERVATION_SERVICE_URL=http://reservation-service:3002
      - OTEL_SERVICE_NAME=order-service
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - app-network

  reservation-service:
    build:
      context: ./reservation-service
      dockerfile: Dockerfile
    container_name: reservation-service
    restart: always
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
      - DATABASE_URL=postgres://postgres:postgres@postgres_db:5432/restaurantdb
      - ORDER_SERVICE_URL=http://order-service:3001
      - JWT_SECRET=${JWT_SECRET}
      - OTEL_SERVICE_NAME=reservation-service
    depends_on:
      - postgres_db
      - order-service
    networks:
      - app-network

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
      - DATABASE_URL=postgres://postgres:postgres@postgres_db:5432/restaurantdb
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRE=${JWT_EXPIRE}
      - OTEL_SERVICE_NAME=auth-service
    depends_on:
      postgres_db:
        condition: service_healthy
    restart: on-failure
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres_db
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # cổng AMQP cho service Nodejs
      - "15672:15672" # UI quản lý Rabbit (http://localhost:15672)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - app-network


  jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"   # Jaeger UI
      - "14250:14250"   # gRPC
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge